rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /workspaces/{workspaceId} {
      allow read, write: if true;
    }

    match /audit_logs/{logId} {
      allow read, write: if true;
    }
  }
}
